.content{
	padding:15px;
}
.m-t{
	margin-top:15px;
}
.p-r{
	padding-right:15px;
}
.el-select{
	width:100%;
}

.cx-items .el-form-item--mini.el-form-item{
	margin-bottom:10px!important;
}
.tab-head{
	overflow: hidden;
    padding: 0px 0px 12px 0px;
}
.seniorWrap .el-input--mini .el-input__inner,
.seniorWrap .el-range-editor--mini.el-input__inner{
	width:100%!important;
}
.pointer{
	cursor: pointer;
}
.pointer:hover{
	color: #409EFF;
}